:: where cl.exe is located
SET CL_PATH=C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Tools\MSVC\14.16.27023\bin\Hostx64\x64

:: where vsdevcmd.bat is located
SET VSDEVCMD_PATH=C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\Common7\Tools
